
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTipologia_riesgosLabel" data-translate="playasApp.tipologia_riesgos.home.createOrEditLabel">Create or edit a Tipologia Riesgos</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tipologia_riesgos.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tipologia_riesgos.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="playasApp.tipologia_riesgos.detalle_topologia" for="field_detalle_topologia">Detalle Topologia</label>
            <input type="text" class="form-control" name="detalle_topologia" id="field_detalle_topologia"
                    ng-model="vm.tipologia_riesgos.detalle_topologia"
                    />
        </div>
       

        <div class="form-group">
            <label data-translate="playasApp.tipologia_riesgos.tipories" for="field_tipories">Tipories</label>
            <select class="form-control" id="field_tipories" name="tipories" ng-model="vm.tipologia_riesgos.tipories" ng-options="riesgos as riesgos.detalle_riesgo for riesgos in vm.riesgos track by riesgos.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
